<header class="site-header">
  {% include nav.html %}
  <div class="jumbotron jumbotron-panel">
    <div class="container">
      <div class="jumbotron-panel__intro">
        <h1 class="jumbotron-panel__h1">{{ site.author.name }}</h1>
        <h3 class="jumbotron-panel__h3">Das Netzwerk für Blockchain-Technologie in der Region Stuttgart</h3>
        <a class="jumbotron-panel__a"
           href="{{ '/about' | prepend: site.baseurl }}">Mehr erfahren</a>
      </div>
    </div>
  </div>
</header>
