<nav class="nav">
  <div class="container">
    <a class="logo" href="{{ '/' | prepend: site.baseurl }}">
      <img src="/assets/images/logo.svg" height="30" alt="{{ site.title }}{{ site.title2 }}"/>
    </a>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl }}">Über uns</a></li>
      <li><a href="{{ '/team' | prepend: site.baseurl }}">Team</a></li>
      <li><a href="{{ '/events' | prepend: site.baseurl }}">Events</a></li>
      <li><a href="{{ '/newsletter' | prepend: site.baseurl }}">Newsletter</a></li>
      <li><a href="{{ '/links' | prepend: site.baseurl }}">Links</a></li>
    </ul>
  </div>
</nav>
