<nav class="nav">
  <div class="container">
    <a class="logo" href="{{ '/' | prepend: site.baseurl }}">
      <img src="/assets/images/logo.svg" height="30" alt="{{ site.title }}{{ site.title2 }}"/>
    </a>
    <ul class="navbar" id="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl }}">Über uns</a></li>
      <li><a href="{{ '/kooperationen' | prepend: site.baseurl }}">Partner</a></li>
      <li><a href="{{ '/team' | prepend: site.baseurl }}">Team</a></li>
      <li><a href="{{ '/newsletter' | prepend: site.baseurl }}">Newsletter</a></li>
      <li><a href="{{ '/events' | prepend: site.baseurl }}">Events</a></li>
      <li><a href="{{ '/sprechstunde' | prepend: site.baseurl }}">Sprechstunde</a></li>
      <li class="icon">
        <a href="javascript:void(0);" onclick="toggleNavbarCollapse()">☰</a>
      </li>
    </ul>
  </div>
</nav>

<script>
  function toggleNavbarCollapse() {
    var navbar = document.getElementById("navbar");
    if (navbar.className === "navbar") {
      navbar.className += " responsive";
    } else {
      navbar.className = "navbar";
    }
  }
</script>
